<div data-role="content" class="content">
<section class="ask">
    <div class="ui widget text">
		<label>Ask a question:</label>
		<input class="question" type="text" name="qtitle" id="questionTitle" value="Your question title"></input>
		<input class="question" type="text" name="qtext" id="questionText" value="Type your question details here"></input>
        <button name="askButton">Ask</button>
    </div>
</section>
</div>